<h1>Billing & Recurring Payment System v2.0</h1>

<p>
  This project is basically the implementation of recurrence billing and
  payment system. There are two user roles[Admin, Buyer]. Admin can manage
  plans, add features and manage users. Users can visit different plans and
  subscribe them on monthly basis. I used stripe for payment gateway.
</p>

<h3>Features</h3>
<ul>
  <li>Admin can add users.</li>
  <li>Admin can add Plans.</li>
  <li>Admin can add plans features.</li>
  <li>Buyers can subscribe to more then one plan.</li>
  <li>Buyers can use extra features of plans.</li>
</ul>
