<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h4>Welcome to our site</h4>
    <p>
      You have successfully signed up to our site, your Email is
      <%= @user.email %><br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
