<h1>Payment attemp failed</h1>

<p>Hi,
  <%= @user.name %></p>
<p>It looks like your latest automated payment attempt failed</p>
<p>In order to not see a lapse in your subscription we suggest updating your
  billing information as soon as possible</p>
<p><%= link_to  "Update Billing Information", "#", target: :_blank %>
